{% extends 'base.html' %} {% load static %}
{% block title %}
  OnlineFIR - About Us
{% endblock title%}

{% block body %}
<div class="content">

				<div class="new-arrivals-w3agile">
					<div class="container">
						<h2 class="tittle">About Us</h2>
						<div class="arrivals-grids">

                        <p style="text-align:justify;color:red;font-size:22px;">Online FIR System...is a project which
help the society and people to reduce
the crime.As we all know that now
a days specially in city area crime
rate is increases day by day.User/people
can report any crime activities or vehicle
missing or any other offence in their nearby
area.User can also upload video or photo
of crime online.User can view police station
details area wise with phone number.
Police station can investigate the crime
based on user's complainand fill FIR/
chargsheet against people.It also
includes prisoner records and court details.
In short it will reduce the crime in society and
people will be aware about that.</p>

</div></div></div></div></div></div></div>
	{% endblock body%}
