{% extends 'base.html' %} {% load static %}
{% block title %}
    OnlineFIR - Sign Up-Police Stations
{% endblock title%}
{% block body %}
		<div class="content">
				<!--login-->
			<div class="login">
		<div class="main-agileits">
				<div class="form-w3agile form1">
					<h3>Police</h3>
					<form  method="post" action="{% url 'signup_police' %}" enctype="multipart/form-data">

              {% csrf_token %}

					<label name="email_id">Enter Email id</label>
						<div class="key">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<input  type="text" value="Email id" name="email_id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" required>
							<div class="clearfix"></div>
						</div>


						<label name="password">Password</label>
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<input  type="password" value="password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required>
							<div class="clearfix"></div>
						</div>






	<label name="division">Username</label>
						<div class="key">
							<i class="fa fa-user" aria-hidden="true"></i>
							<input  type="text"  name="username"  placeholder="username" required>
							<div class="clearfix"></div>
						</div>
						<label name="division">Division</label>
						<div class="key">
							<i class="fa fa-user" aria-hidden="true"></i>
							<input  type="text"  name="division"  placeholder="division" required>
							<div class="clearfix"></div>
						</div>





						<label name="Address">Address</label>
						<div class="key">
							<i class="fa fa-spinner" aria-hidden="true"></i>
							<input  type="text" value="Address" name="address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required>
							<div class="clearfix"></div>
						</div>
						 <script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
        var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            document.getElementById("error").style.display = ret ? "none" : "inline";
            return ret;
        }
    </script>
	  <span id="error" class="ss-icon" style="color: Red; display: none" ></span>

						<label name="co">contact no</label>
						<div class="key">
							<i class="fa fa-spinner" aria-hidden="true"></i>
							<input  type="text"  name="contact_no" placeholder="Contact Number(* Input digits (0 - 9)" minlength="10" maxlength="10" onkeypress="return IsNumeric(event);" ondrop="return false;" onpaste="return false;" required>
							<div class="clearfix"></div>
						</div>

					<label name="website">Website</label>
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<input  type="text" value="website" name="website" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
							<div class="clearfix"></div>
						</div>



						<input type="submit" name="submit" value="Submit">
					</form>
				</div>

			</div>
		</div>
				<!--login-->
		</div>



	{% endblock body%}
