{% extends 'base.html' %} {% load static %}
{% block title %}
    OnlineFIR - Sign Up-User
{% endblock title%}
{% block body %}
<div class="content">
				<!--login-->
			<div class="login">
		<div class="main-agileits">
				<div class="form-w3agile form1">
					<h3>Change Password</h3>
 {% if form.non_field_errors %}
						<ul>
						{% for error in form.non_field_errors %}

						<li><strong class="text-danger"><p class="text-danger">{{ error }}</p></strong></li>

						{% endfor %}
					</ul>
				  {% endif %}
					<form name="form1"  method="post" onSubmit="return validation()" enctype="multipart/form-data">

                  {% csrf_token %}

						<label name="">Old password</label>
						<div class="key">

							<i class="fa fa-lock" aria-hidden="true"></i>
                              {{ form.old_password }}

<!--							<input  type="password" value="Password" name="oldpassword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Old Password';}" maxlength="8" required>-->
							<div class="clearfix"></div>


						</div>
                          <label name="">New password</label>


                        <div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
                              {{ form.new_password1 }}

<!--							<input  type="password" value="Password" name="newpassword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'New Password';}" maxlength="8" required>-->
							<div class="clearfix"></div>


						</div>


  <label name="">confirm password</label>
<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
      {{ form.new_password2 }}

<!--							<input  type="password" value="Password" name="confirmpassword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}" maxlength="8" required>-->
							<div class="clearfix"></div>


						</div>






						<input type="submit" value="Submit" name="submit12">
					</form>
				</div>

			</div>
		</div>
				<!--login-->
		</div>


	{% endblock body%}
