{% extends 'base.html' %} {% load static %}
{% block title %}
  OnlineFIR - Create FIR
{% endblock title%}

{% block body %}
<!--content-->
		<div class="content">
				<!--login-->
			<div class="login">
		<div class="main-agileits">
				<div class="form-w3agile form1">
					<h3>Create FIR</h3>
					<form  method="post" enctype="multipart/form-data" action="{% url 'create_fir' %}">
															{% csrf_token %}

						<script language="Javascript" type="text/javascript">

        function onlyAlphabets(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                    return true;
                else
                    return false;

            }
            catch (err) {
                alert(err.Description);

            }
        }

    </script>








						<label name="first name">Police Station Name</label>
						<div class="key">
							<i class="fa fa-user" aria-hidden="true"></i>
							<input  type="text"  name="police_station_name" onKeyPress="return onlyAlphabets(event,this);"  required="" >
							<div class="clearfix"></div>
						</div>


						<label name="Middle name">User Proof</label>
						<div class="key">
							<i class="fa fa-user" aria-hidden="true"></i>
							<input  type="file"  name="user_proof" required="">
							<div class="clearfix"></div>
						</div>

						<label name="Last name">Complaint Type</label>
						<div class="key">
							<i class="fa fa-user" aria-hidden="true"></i>
							<input  type="text"  name="complaint_type" onKeyPress="return onlyAlphabets(event,this);"  required="">
							<div class="clearfix"></div>
						</div>











						<label name="city">Against Whom</label>
						<div class="key">
							<i class="fa fa-user" aria-hidden="true"></i>
							<input  type="text"  name="against_whom" onKeyPress="return onlyAlphabets(event,this);"  required="">
							<div class="clearfix"></div>
						</div>
						</div>




						<br/>








					 <script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
        var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            document.getElementById("error").style.display = ret ? "none" : "inline";
            return ret;
        }
    </script>
	  <span id="error" class="ss-icon" style="color: Red; display: none" ></span>






						<input type="submit" name="submitnew" value="Edit Profile">
					</form>
				</div>

			</div>
		</div>
				<!--login-->
		</div>



<h3 class="blank1">Manage Fir</h3>

	   <div class="table-responsive">
						  <table class="table table-bordered">
							<thead>
							  <tr>




								<th> Fir id </th>
								<th> User-Email</th>
								<th> Username</th>
								<th>Police Station Name</th>
								<th>User Proof</th>
								<th>Complaint Type</th>
								<th>Against Whom</th>
								<th>Date and Time</th>

								<th>status</th>


							  </tr>
							</thead>
							<tbody>
							  <tr>



{% for item in context %}
       <tr>
	   <td>{{item.pk}}</td>
	    <td>{{item.user.email}}</td>
	    <td>{{item.user}}</td>



		 <td>{{item.police_station}}</td>
         <td><img src="/media/{{item.user_proof}}" style="height:50px;width:50px;"></td>
		  <td>{{item.complaint_type}}</td>
		  <td>{{item.against_whom}}</td>
		  <td>{{item.timestamp}}</td>
		   <td>{%if item.status%}Approved{% else %}Pending{%endif%}</td>


       </td>


       </td>
       </tr>
{% endfor %}

							  </tr>

							</tbody>
						  </table>
						</div><!-- /.table-responsive -->
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock body%}
