{% extends 'base.html' %} {% load static %}
{% block title %}
  OnlineFIR - Create FIR
{% endblock title%}

{% block body %}
<div class="content">
				<!--login-->
			<div class="login">
				<div class="main-agileits">
					<div class="form-w3agile">
						<h3>Forgot Password?</h3>
						<form  method="post" action="{% url 'forget_password' %}">
							{% csrf_token %}

							<div class="key">

								<i class="fa fa-envelope" aria-hidden="true"></i>
								<input  type="text" value="Email" name="email_id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
								<div class="clearfix"></div>
							</div>

							<input type="submit" name="forgot" value="send">
						</form>
					</div>
					<div class="forg">

					<div class="clearfix"></div>
					</div>
				</div>
			</div>
				<!--login-->
		</div>
	{% endblock body%}
